// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Bree Serif',serif;} // font header
.fi {font-family: sans-serif;} // font icon

// body
@bb: #f3ecca; // body background

// colors
@cp: #332500; // color primary
@cl: #9a2500; // color link

// font sizes
@fsp: 100%; // font size primary
@fsh1: 220%; // font size h1
@fsh2: 175%; // font size h2
@fsh3: 150%; // font size h3
@fsh4: 120%; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;