.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 20px 0;
		li{
			float: left;
			margin-right: 15px;
			font-size: 76%;
			color: @cl;
			&:before{
				top: 1px;
				content: '\00bb';
			}
			a {
				text-decoration: none;
				color: @cp;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-banners-top {
	.clearfix;
	overflow: hidden;
	ul {
		.rul;
		float: right;
		margin: 0 -20px 0 0;
		li {
			.rli;
			float: left;
			margin: 0 0 0 20px;
			img {
				display: block;
				.box-shadow(0 0 6px #000);
			}
		}
	}
}
.mod_menu-main {
	position: relative;
	margin: 0 0 0 173px;
	float: left;
	width: 500px;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			.fh;
			float: left;
			font-size: 113%;
			margin: 0 20px 0 0;
			text-shadow: 1px 1px 0 fade(#fff,50%);
			a {
				text-decoration: none;
				color: @cp;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				&:before{
					.fh;
					top: auto;
					bottom: -30px;
					left: 50%;
					font-size: 160%;
					line-height: 1;
					margin-left: -6px;
					content: '\02c6';
				}
			}
		}
	}
}
.mod_custom-font-size {
	float: right;
	width: 200px;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			.fh;
			display: inline;
			text-transform: uppercase;
			font-size: 90%;
			margin: 0 4px 0 0;
			&.size_02 {
				font-size: 110%;
			}
			&.size_03 {
				font-size: 130%;
			}
			a {
				color: @cp;
				text-decoration: none;
				text-shadow: 1px 1px 0 fade(#fff,50%);
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-category {
	margin: 51px 0;
	ul {
		.rul;
		margin: 0 -20px;
		li {
			.rli;
			float: left;
			width: 20%;
			padding: 0 20px 23px;
			a {
				color: @cp;
				text-decoration: none;
				.img {
					position: relative;
					display: inline-block;
					&:before{
						position: absolute;
						content: '';
						top: 209px;
						left: -21px;
						width: 192px;
						height: 18px;
						background: url(../images/bg/04.png);
					}
					&:after{
						.transition(0.2s);
						position: absolute;
						z-index: 1;
						content: '';
						left: 0;
						top: 0;
						width: 100%;
						height: 220px;
						background: fade(#a05601,20%);
					}
					img {
						position: relative;
						z-index: 1;
					}
					img,canvas {
						.transition(0.2s);
						display: block;
						filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'old-timey\'><feColorMatrix type=\'matrix\' values=\'0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0\'/></filter></svg>#old-timey");
						-webkit-filter: sepia(0.9);
						-webkit-filter: sepia(90%);
						-moz-filter: sepia(90%);
						-ms-filter: sepia(90%);
						-o-filter: sepia(90%);
						filter: sepia(90%);
					}
				}
				&:hover{
					.img {
						&:after{
							-webkit-opacity: 0;
							-moz-opacity: 0;
							opacity: 0;
							filter:alpha(opacity=0);
						}
						img,canvas {
							filter: none;
							-webkit-filter: sepia(0);
							-webkit-filter: sepia(0%);
							-moz-filter: sepia(0%);
							-ms-filter: sepia(0%);
							-o-filter: sepia(0%);
							filter: sepia(0%);
						}
					}
				}
			}
			h2 {
				.clearfix;
				font-size: 110%;
				line-height: 1.2;
				margin: 0 4px 3px 0;
				background: url(../images/icon/01.png) no-repeat right 9px;
			}
			&.nobg {
				h2 {
					background: none;
				}
			}
		}
	}
}
.mod_banners {
	float: left;
	width: 680px;
	margin: 0 0 30px;
	ul {
		.rul;
		.clearfix;
		margin: 3px 0;
		li {
			.rli;
			float: left;
			margin: 0 22px 0 -8px;
		}
	}
}
.mod_custom-calendar {
	float: right;
	width: 222px;
	margin: 0 0 30px;
	a {
		.fh;
		text-transform: uppercase;
		display: block;
		color: @cp;
		text-decoration: none;
		text-shadow: 1px 1px 0 fade(#fff,50%);
		padding: 26px 0;
		font-size: 112%;
		line-height: 1;
		background: url(../images/icon/02.png) no-repeat right;
		&:hover{
			text-decoration: underline;
		}
	}
}
.mod_menu-sidebar {
	&>ul {
		.rul;
		margin: 15px 0 30px;
		&>li {
			.rli;
			padding: 0 0 0 25px;
			margin: 7px 0;
			line-height: 1.2;
			&:before{
				top: 6px;
				left: 9px;
				content: url(../images/icon/03.png);
			}
			&.act {
				&:before{
					content: url(../images/icon/04.png);
				}
				&>a {
					color: @cl;
					&:before{
						position: absolute;
						left: -2px;
						top: -3px;
						content: url(../images/icon/06.png);
					}
				}
			}
			&>a {
				.fh;
				display: inline-block;
				color: @cp;
				text-decoration: none;
				font-size: 112%;
				&:hover{
					text-decoration: underline;
				}
			}
			ul {
				.rul;
				margin: 12px 0;
				li {
					.rli;
					padding: 0 0 0 24px;
					font-size: 90%;
					margin: 9px 0;
					&:before{
						top: 4px;
						left: 10px;
						content: url(../images/icon/05.png);
					}
					a {
						color: @cp;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					&.act {
						&:before{
							top: 2px;
							content: url(../images/icon/06.png);
						}
						&>a {
							color: @cl;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}