nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\00bb';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background: lighten(@cp,76%);
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@cp,15%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@cp,80%);
	}
	th,thead td{
		color: #fff;
		background: lighten(@cp,0%)!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: lighten(@cp,70%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input[type=text],input[type=email],input[type=password],textarea,select{
		position: relative;
		border: 1px solid transparent;
		font-size: 100%;
		line-height: 17px;
		margin: 0 3px 5px 0;
		width: 200px;
		height: 40px;
		padding: 6px 10px;
		color: @cp;
		background: #fff;
		outline: 0;
		background: url(../images/bg/05.png);
	}
	input.input-mini{
		width:40px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	textarea{
		padding:10px;
		width:auto;
		height:auto;
	}
	select{
		width:auto;
		padding-right: 0;
	}
	select[multiple]{
		width:auto;
		height:auto;
		padding: 2px 6px;
	}
	input[type=text]:hover,input[type=email]:hover,input[type=password]:hover,textarea:hover,select:hover,
	input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus,select:focus{
		border-bottom-color: @cl;
	}
	.fileinputs{
		.clearfix;
		position:relative;
		overflow:hidden;
		display:inline-block;
		cursor:default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.input-file-text{
			border-right: 0;
			float: left;
			margin-right: 0;
			padding-right: 0;
		}
		.normal-button{
			.border-radius(0 20px 20px 0);
			float: left;
			background-position: 0 -5px;
		}
	}
	.normal-button{
		.btn;
		padding: 0 20px;
	}
	a.normal-button{
		display:inline-block;
		text-decoration:none;
		line-height:28px;
	}
	.fileinputs:hover {
		.normal-button{
			background: @cl;
		}
		.input-file-text{
			border-bottom-color: @cl;
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	margin: 30px 0;
	background: url(../images/bg/06.png) repeat-x;
	a,span{
		.btn;
		padding: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
		background-position: 0 -5px;
	}
	a:hover{
		background-position: 0 -55px;
	}
	span.pagenav{
		color: #fff;
		background: @cl;
	}
	.pagenav-ico{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter: alpha(opacity=50);
		cursor: default;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 2px;
	background: url(../images/bg/06.png);
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 1px;
	border: 2px solid lighten(@cp,50%);
}
a.xeditorpopup:hover img{
	border-color: @cl;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: lighten(@cp,10%);
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @cp;
	}
	.warning,.error{
		background-color: @cl;
	}
}
